* {
	padding: 0;
	margin: 0;
}
#gg {
	width: 100%;
	height: 80px;
	background: palevioletred;
}
#gg a {
	display: block;
	width: 990px;
	height: 80px;
	background: dodgerblue;
	margin: 0px auto;
}
#top {
	width: 100%;
	height: 30px;
	background: whitesmoke;
}
#top>div {
	width: 990px;
	height: 30px;
	background: #ccc;
	margin: 0px auto;
}
#top>div>div {
	float: right;
	width: 800px;
	height: 30px;
	background: deepskyblue;
}
#search {
	width: 990px;
	height: 100px;
	background: pink;
	margin: 0px auto;
}
#flash {
	width: 990px;
	height: 450px;
	background: dodgerblue;
	margin: 0px auto;
	margin-bottom: 500px;
}
#flash .left {
	float: left;
	width: 200px;
	height: 450px;
	background: #ccc;
}
#flash .center {
	float: left;
	width: 590px;
	height: 450px;
	background: greenyellow;
}
#flash .right {
	float: right;
	width: 200px;
	height: 450px;
	background: #ccc;
}