* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/*顶部搜索*/
#top {
	display: flex;
	align-items: center;
	
	width: 100%;
	overflow: hidden;
	background: #fe5400;
	padding-top: 2%;
	padding-bottom: 2%;
}
#top i.iconfont.icon-tao {
	float: left;
	margin-left: 3%;
	
	color: white;
	font-size: 8vw;
}
#top .search {
	display: block;
	float: left;
	width: 86%;
	line-height: 2.5em;
	margin-left: 1%;
	background: #b52600;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	color: #f0e0dc;
	font-size: 3vw;
}
#top .search i.iconfont.icon-fangdajing {
	margin-right: 1%;
	font-size: 3vw;
}
/*顶部搜索结束*/

/*图片轮播区域*/
.swiper-container {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
}
.swiper-slide {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
}
.swiper-pagination {
    text-align: right;
}
.swiper-pagination-bullet {
    background: #fff;
}
.swiper-pagination-bullet-active {
    background: #ff5501;
}
/*图片轮播区域结束*/

/*广告图*/
img.flash {
	width: 100%;
}
/*广告图结束*/

/*图标列表区*/
#icolist {
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;	
}
#icolist>li {
	width: 20%;
	margin-top: 2%;
}
#icolist>li img {
	display: block;
	width: 80%;
	margin: 0px auto;
}
#icolist>li a {
	display: block;
	width: 100%;
	line-height: 2em;
	margin: 0px auto;
	text-align: center;
	color: rgb(102,102,102);
	font-size: 1vw;
}
/*图标列表区结束*/

/*淘宝头条*/
#first {
	display: flex;
	align-items: center;
	
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #f7f7f7;
	border-bottom: 5px solid #f7f7f7;
	padding: 2% 0;
}
#first img.left {
	float: left;
	width: 20%;
	border-right: 1px solid #f7f7f7;
	padding-right: 3%;
	margin-left: 2%;
}
#first span.center {
	float: left;
	line-height: 1em;
	border: 1px solid rgb(216,20,33);
	border-radius: 3px;
	margin-left: 2%;
	padding: 2px;
	color: rgb(216,20,33);
	font-size: 3vw;
}
#first a.right {
	float: left;
	width: 55%;
	line-height: 2em;
	overflow: hidden;
	margin-left: 2%;
	color: rgb(53,53,53);
	font-size: 3vw;	
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*淘宝头条结束*/